
body, html {
  margin: 0;
  padding: 0;
  background-color: #b0d2fa;
}


.navbar {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #86b2de;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 8rem;
  width: 117rem;
    font-size: 44px;
    width: 117rem;
    height: 8rem;
    text-align: center;

}


body {
  padding-top: 70px;
}


.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navbar a:hover {
  color: #007bff;
}
